rootrip-spot-viewer
  .spotSelector
    ul
      li { spotTitle } { spotFarFrom }
      li { spotTitle2 } { spotFarFrom2 }
  .spotContent
    .spotHeader
      .spotTitle.caption { spotTitle }
    .spotArticle
      p { spotMessage }

  style(scoped).
    :scope {
      display: block;
      background-color: #B2DFDB;
      height: 65%;
    }
    
  script.
    var tag = this;

    // sample message
    tag.spotTitle = 'ルーフトップス';
    tag.spotFarFrom = '3 min';
    tag.spotMessage = '鎌倉駅すぐ、絶景テラスのカフェ＆ダイナー';

    tag.spotTitle2 = '鶴岡八幡宮';
    tag.spotFarFrom2 = '7 min';
