rootrip-navbar
  .navbar_wrapper  
    .station_selector
      ul
        li 鎌倉
        li 和田塚

    .btnPrev &lt;
    .btnNext &gt;

  style.
    .navbar_wrapper {
      background-color: #FFFFFF;
      height: 25%;
    }

    .btnPrev {
      font-size: 1.5em;
      background-color: #FFA500;
    }

    .btnNext {
      font-size: 1.5em;
      background-color: #FFA500;
    }

  script.
    var tag = this;
