rootrip-navbar
  .navbar_wrapper  
    .station_selector
      ul
        li 鎌倉
        li 和田塚

    .btn.prev &lt;
    .btn.next &gt;

  style.
    .navbar_wrapper {
      background-color: #FFFFFF;
      height: 25%;
    }

  script.
    var tag = this;
