rootrip-header
  .header_wrapper
    header
      .header_title るーとりっぷ
      .route_name { selectedRoute.name }

  style.
    .header_wrapper {
      background-color: #009688;
      height: 10%;
    }
    
    header {
      clear: left;
    }
    
    header .header_title {
      font-size: 2em;
    }
    
    header .route_name {
      font-size: 1.5em;
    }

  script.
    var tag = this;
    
    tag.routesList = opts.routeslist;

    console.log(opts);

    tag.selectedRoute = tag.routesList[0];
